<form [formGroup]="myForm" (ngSubmit)="registro()">
    <div class="item">
        <label for="">Nombre de usuario</label>
        <input type="text" formControlName="user">
        <span style="color: red;" *ngIf="myForm.get('user').errors && myForm.get('user').dirty">
            El campo es obligatorio</span>
    </div>
    
    <div class="item">
        <label for="">Nombre</label>
        <input type="text" formControlName="nombre">
        <span style="color: red;" *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty">
            El campo es obligatorio</span>
    </div>
    
    <div class="item">
        <label for="">Email</label>
        <input type="email" formControlName="mail">
        <span style="color: red;" *ngIf="myForm.get('mail').errors && myForm.get('mail').dirty">
            Ingrese un mail valido</span>
    </div>
    
    <div class="item">
        <label for="">Contraseña</label>
        <input type="password" formControlName="password">
        <span style="color: red;" *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
            El campo es obligatorio</span>
    </div>
  
    <input type="submit" value="Registrarse" [disabled]="myForm.invalid">
</form>