.container{
    display: flex;
    justify-content: space-between;
}

.cita{
    width: 25%;
}

.cita h3{
    color: red;
    text-decoration: underline;
}

.cita p{
    margin: 2px;
    color: blue;
    background-color: antiquewhite;
}