<form [formGroup]="myForm" (ngSubmit)="login()">
    <div>
        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="user">
          </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="password">
          </mat-form-field>
    </div>
    <div>
        <button mat-raised-button type="submit" color="primary" [disabled]="myForm.invalid">Ingresar</button>
    </div>
</form>