<form [formGroup]="formContacto" (ngSubmit)="mandar()">
    <div >
    <div class="item">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email"  >
        <span style="color: red;" *ngIf="formContacto.get('email').hasError('email')">
            Ingrese un mail valido</span>
    </div>
    <div class="item">
        <label for="asunto">Asunto:</label>
        <input type="text" id="asunto" formControlName="asunto">
    </div>
    <div class="item">
        <label for="mensaje">Mensaje:</label>
        <br>
        <textarea name="mensaje" id="mensaje" cols="30" rows="10" formControlName="mensaje"></textarea>
    </div>
    <div class="item">
        <button mat-raised-button type="submit" color="primary" [disabled]="formContacto.invalid || boton">Enviar</button>
    </div>
</div>
</form>